<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Location and network permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />





    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlashAid">

        <!-- Foreground Tracking Service -->
        <service
            android:name=".TrackingService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="org.osmdroid.config"
            android:resource="@xml/osmdroid_config" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".DriverDashboardActivity" />
        <activity android:name=".PatientRequestActivity" />
        <activity android:name=".UserTripsActivity" />
        <activity android:name=".NavRequestsActivity" />
        <activity android:name=".LiveTrackingActivity" />
        <activity android:name=".NavTrackingActivity" />
        <activity android:name=".UserLiveTrackingActivity" />
        <activity android:name=".AmbulanceTrackingActivity" />
        <activity android:name=".NavHospitalActivity" />
        <activity android:name=".NavHistoryActivity" />




    </application>
</manifest>
